@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Lobster&family=Poppins:wght@400&family=Noto+Sans+SC&display=swap');

:root {
 --color-one: rgba(255, 0, 0, 0.2);
 --color-two: rgba(0,255, 0, 0.2);
 --color-three: rgba(0, 0, 255, 0.2);
 --color-four: rgba(155, 0, 255, 0.2);
 --color-five: rgba(0, 155, 255, 0.2);
 --color-six: rgba(155, 155, 255, 0.2);
 --color-seven:  rgba(255, 155, 0, 0.2);
 --color-eight:  rgba(255, 0, 155, 0.2);
 --color-nine:  rgba(255, 155, 155, 0.2);
 --color-ten:  rgba(155, 255, 155, 0.2);


 --table-border: #eaeaea;
 --grey-default: hsl(0deg 0% 41%);
 --grey-default-hover: hsl(0deg 0% 21%);
 --black-default: #3f3e3e;
 --black-default-hover: #9f9f9f;
 --green-default-hover: #7ec26d;
 --green-default: #27ac06;
 --cursive-font: "Lobster", cursive;
 --manage-font: 'Noto Sans SC', sans-serif;
 --special-font: "Raleway", sans-serif;
 --content-font: "Lato", sans-serif;
 --dropdown-shadow-box: 0 2px 7px 0 rgba(34, 60, 80, 0.2);
}


/*#region ====== Style cleaning ======*/

* {
 padding: 0;
 margin: 0;
 border: 0;
}

*, *:before, *:after {
 box-sizing: border-box;
}

:focus, :active {
 outline: none;
}

a:focus, a:active {
 outline: none;
}

nav, footer, header, aside {
 display: block;
}

html, body {
 height: 100%;
 width: 100%;
 line-height: 1;
 font-size: 14px;
}

input, button, textarea {
 font-family: inherit;
}

input::-ms-clear {
 display: none;
}

button {
 cursor: pointer;
}

a, a:visited {
 text-decoration: none;
}

a:hover {
 text-decoration: none;
}

ul, li {
 list-style: none;
}

img {
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
 font-size: inherit;
 font-weight: inherit;
}

body {
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
 sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
 monospace;
}

/*#endregion ====== Style cleaning ======*/

#root {
 margin: 3vh 4.5vw;
}

/*#region ====== Header Styling ======*/

.fa-caret-down {
 margin-left: 0.4rem;
}

.fa-clock {
 margin-left: 0.2em;
}

.header {
 display: flex;
 justify-content: space-between;
 align-items: baseline;
 line-height: 1;
}


.label {
 font-family: var(--cursive-font);
 font-size: 1.8rem;
 font-weight: 400;
 margin-right: 1rem;
 transition: 0.3s;
 color: var(--green-default);
 padding: 0.5rem 0.3rem;

}

.label:hover {
 color: var(--green-default-hover);
}


.about {
 font-family: var(--manage-font);
 color: var(--grey-default);
 margin-right: auto;
 position: relative;
 font-size: 0.9rem;
}

.about span {
 cursor: pointer;
 padding: 0.5rem 0.3rem;
 width: 100%;
 height: 100%;
}

.about span:hover {
 color: var(--grey-default);
}

.about:hover .popup__content {
 max-height: 150px;
 opacity: 1;
}


.popup__content {
 background-color: #fff;
 z-index: 5;
 max-height: 0;
 opacity: 0;
 overflow: hidden;
 transition: all 0.8s, opacity 0.4s, max-height 0.2s;
 border-radius: 10px;
 font-family: var(--manage-font);
 top: 115%;
 left: 0.5em;
 box-shadow: var(--dropdown-shadow-box);
 position: absolute;
 display: flex;
 flex-direction: column;
 min-width: max-content;
 font-size: 1rem;
 padding: 0.5em 0;
}

.popup__element {
 font-weight: 500;
 padding: 0 0.8em;
 line-height: 2em;
 min-height: 2em;
}

.popup__element:hover {
 cursor: pointer;
 background-color: var(--green-default);
 color: #fff;
}


.account {
 font-family: var(--manage-font);
 position: relative;
 color: var(--grey-default);
}

.account span {
 cursor: pointer;
 padding: 0.5rem 0.3rem;
 width: 100%;
 height: 100%;
}

.account span:hover {
 color: var(--grey-default-hover);
}

.account:hover .popup__content {
 max-height: 100px;
 opacity: 1;
}


.account .popup__content {
 width: 100%;
 left: -0.5em;
}

/*#endregion*/

/*#region RegionName*/

/*#endregion RegionName*/
/*#region RegionName*/

/*#endregion RegionName*/

/*#region RegionName*/

/*#endregion*/

.calendar__container {
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: var(--content-font);
 margin-top: 4rem;
}

.month__roll {
 color: var(--black-default);
 align-items: center;
 display: flex;
 margin-bottom: 1rem;
}


.month__roll p:hover {
 color: var(--green-default-hover);
 cursor: pointer;
}

.month__roll .svg-inline--fa {
 padding: 0.2em;
 font-size: 1.2em;
 margin: 0 0.5em;
}

.month__roll .svg-inline--fa:hover {
 color: var(--green-default-hover);
 cursor: pointer;
}

.calendar__container table, td {
 color: var(--black-default);
 border-collapse: collapse;
 border: 1px solid var(--table-border);
}

.calendar__container table {
 border: 0 solid red;
}

.whole__month__table {
 width: 100%;
}

tr {
 text-align: center;
}

.center__flex__content {
 display: flex;
 justify-content: center;
 align-items: center;
}

.without__border {
 border: none;
}

.habits__col__name_label {
 font-size: 1.2em;
 min-width: 150px;
 width: 100%;
}

.habits__col__name {
 padding: 5px;
 text-align: start;
}

.goal__col__label {
 font-size: 1.2em;
 min-width: 50px;
 width: 100%;
}

.archive__col__label {
 font-size: 1.2em;
 min-width: 70px;
 width: 100%;
}

.weekdays__labels {
 font-family: var(--content-font);
 color: var(--grey-default);
 font-weight: 500;
 font-size: 0.8rem;
 height: 25px;
 line-height: 25px;
 min-width: 20px;
 width: 100%;
}

.month__day {
 min-height: 50px;
}

.default__cell {
 font-size: 0.8em;
 width: 100%;
 color: black;
 min-height: 35px;
}

.cell-color-one {
 background-color: var(--color-one);
}

.cell-color-two {
 background-color: var(--color-two);
}

.cell-color-three {
 background-color: var(--color-three);
}

.cell-color-four {
 background-color: var(--color-four);
}

.cell-color-five {
 background-color: var(--color-five);
}
.cell-color-six {
 background-color: var(--color-six);
}
.cell-color-seven {
 background-color: var(--color-seven);
}

.cell-color-eight {
 background-color: var(--color-eight);
}

.cell-color-nine {
 background-color: var(--color-nine);
}

.cell-color-ten {
 background-color: var(--color-ten);
}

/*Change height of Eatpussy and Suck balls*/
/*Generate rows dynamically with special class for every column and row, to add ability to hover them*/