/*#region ====== Calendar ======*/


.calendar__container {
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: var(--content-font);
 margin-top: 4rem;
}

.month__roll {
 color: var(--black-default);
 align-items: center;
 display: flex;
 margin-bottom: 1rem;
}


.month__roll p:hover {
 color: var(--green-default-hover);
 cursor: pointer;
}

.month__roll .svg-inline--fa {
 padding: 0.2em;
 font-size: 1.2em;
 margin: 0 0.5em;
}

.month__roll .svg-inline--fa:hover {
 color: var(--green-default-hover);
 cursor: pointer;
}

.calendar__container table, td {
 border-collapse: collapse;
 color: var(--black-default);

}

.calendar__container td {
 border: 1px solid var(--table-border);
}


.whole__month__table {
 width: 100%;
}

tr {
 text-align: center;
}

.center__flex__content {
 display: flex;
 justify-content: center;
 align-items: center;
}

.without__border {
 border: none !important;
}

.day__names{

}
.day__number{

}
.day__number .highlightedCell {
 border-bottom: 1px double var(--black-default) !important;

 border-top: 1px double var(--black-default) !important;
 border-left: 1px double var(--black-default) !important;
 border-right: 1px double var(--black-default) !important;
}

.day__names .highlightedCell{
 border-bottom: 1px double var(--table-border) !important;

 border-top: 1px double var(--black-default) !important;
 border-left: 1px double var(--black-default) !important;
 border-right: 1px double var(--black-default) !important;
}

.highlightedCell {
 border-left: 1px double var(--black-default) !important;
 border-right: 1px double var(--black-default) !important;
 background-color: var(--black-default);
}
.highlightedBorder {
 border-bottom: 1px double var(--black-default) !important;
 border-top: 1px double var(--black-default) !important;
 border-left: 1px double var(--black-default) !important;
 border-right: 1px double var(--black-default) !important;
}

.highlightedCell  .weekdays__labels {
 font-weight: 700;
 color: var(--white-default);
}
.highlightedCell .month__day {
 color: var(--white-default);
 font-weight: 700;
}

.habits__col__name_label {
 font-size: 1.2em;
 min-width: 150px;
 width: 100%;
}

.habits__col__name {
 padding: 5px;
 text-align: start;
}

.goal__col__label {
 font-size: 1.2em;
 min-width: 50px;
 width: 100%;
}

.archive__col__label {
 font-size: 1.2em;
 min-width: 70px;
 width: 100%;
}

.weekdays__labels {
 font-family: var(--content-font);
 color: var(--grey-default);
 font-weight: 500;
 font-size: 0.8rem;
 height: 25px;
 line-height: 25px;
 min-width: 20px;
 width: 100%;
}

.month__day {
 min-height: 50px;
}

.default__cell {
 font-size: 0.8em;
 width: 100%;
 color: var(--black-default);
 min-height: 35px;
 cursor: pointer;
}

/*#region ====== Cells Colors ======*/
.cell-color-one {
 background-color: var(--color-one);
}

.cell-color-two {
 background-color: var(--color-two);
}

.cell-color-three {
 background-color: var(--color-three);
}

.cell-color-four {
 background-color: var(--color-four);
}

.cell-color-five {
 background-color: var(--color-five);
}

.cell-color-six {
 background-color: var(--color-six);
}

.cell-color-seven {
 background-color: var(--color-seven);
}

.cell-color-eight {
 background-color: var(--color-eight);
}

.cell-color-nine {
 background-color: var(--color-nine);
}

.cell-color-ten {
 background-color: var(--color-ten);
}

/*#endregion ====== Cells Colors ======*/

/*#endregion ====== Calendar ======*/
