@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Lobster&family=Poppins:wght@400&family=Noto+Sans+SC&display=swap');

:root {
 --color-one: rgba(255, 0, 0, 0.2);
 --color-two: rgba(0, 255, 0, 0.2);
 --color-three: rgba(0, 0, 255, 0.2);
 --color-four: rgba(155, 0, 255, 0.2);
 --color-five: rgba(0, 155, 255, 0.2);
 --color-six: rgba(155, 155, 255, 0.2);
 --color-seven: rgba(255, 155, 0, 0.2);
 --color-eight: rgba(255, 0, 155, 0.2);
 --color-nine: rgba(255, 155, 155, 0.2);
 --color-ten: rgba(155, 255, 155, 0.2);

 --main-background: #fff;
 --white-default: #fff;
 --table-border: #eaeaea;
 --grey-default: hsl(0deg 0% 41%);
 --grey-default-hover: hsl(0deg 0% 21%);
 --black-default: #3f3e3e;
 --black-default-hover: #9f9f9f;
 --green-default-hover: #7ec26d;
 --green-default: #27ac06;
 --cursive-font: "Lobster", cursive;
 --manage-font: 'Noto Sans SC', sans-serif;
 --special-font: "Raleway", sans-serif;
 --content-font: "Lato", sans-serif;
 --dropdown-shadow-box: 0 2px 7px 0 rgba(34, 60, 80, 0.2);
}


/*#region ====== Style cleaning ======*/

* {
 padding: 0;
 margin: 0;
 border: 0;
}

*, *:before, *:after {
 box-sizing: border-box;
}

:focus, :active {
 outline: none;
}

a:focus, a:active {
 outline: none;
}

nav, footer, header, aside {
 display: block;
}

html, body {
 height: 100%;
 width: 100%;
 overflow: hidden;
 line-height: 1;
 font-size: 14px;
}

input, button, textarea {
 font-family: inherit;
}

input::-ms-clear {
 display: none;
}

button {
 cursor: pointer;
}

a, a:visited {
 text-decoration: none;
}

a:hover {
 text-decoration: none;
}

ul, li {
 list-style: none;
}

img {
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
 font-size: inherit;
 font-weight: inherit;
}

body {
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
 sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
 monospace;
}


/*#endregion ====== Style cleaning ======*/
/*#region ====== Header Styling ======*/

.fa-caret-down {
 margin-left: 0.4rem;
}

.fa-clock {
 margin-left: 0.2em;
}

.header {
 display: flex;
 justify-content: space-between;
 align-items: baseline;
 line-height: 1;
}


.label {
 font-family: var(--cursive-font);
 font-size: 1.8rem;
 font-weight: 400;
 margin-right: 1rem;
 transition: 0.3s;
 color: var(--green-default);
 padding: 0.5rem 0.3rem;

}

.label:hover {
 color: var(--green-default-hover);
}

/*#endregion ====== Header Styling ======*/


/*#region ====== Footer Styling ======*/
.footer {
 margin-top: 20px;
}

.new-habit {
 color: var(--black-default);
 padding: 7px 15px;
 border: 1px solid #c7c7c7;
 transition: 0.3s;
 background-color: var(--white-default);
}

.new-habit:hover {
 border-color: var(--black-default);
}

/*#endregion ====== Footer Styling ======*/


/*#region ====== Popup Styling ======*/
.popup__background{
 background-color: rgba(0, 0, 0, 0.2);
 width: 100vw;
 height: 100vh;
 z-index: 0;
 top: 0;
 position: absolute;
}
.popup__container {
 overflow: hidden;
 border-radius:15px;
 background-color: var(--white-default);
 position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 display: flex;
 flex-direction: column;
 color: var(--black-default);
 box-shadow: 0px 8px 23px 5px rgba(173, 173, 173, 0.65);
 width: 450px;
}

.popup__header {
 display: flex;
 flex-direction: row;
 background-color: var(--white-default);
 justify-content: space-between;
 padding: 15px 8px;
 font-size: 1.1em;
 margin-bottom: 15px;
}

.popup__title {
 padding-left: 14px;
}

.popup__mark {

}

.popup-body {
 display: flex;
 flex-direction: column;
 padding: 0 20px;
}

.popup__input__container {
 margin-bottom: 20px;
 display: flex;
 flex-direction: column;
}

.popup__label {
 font-size: 0.95em;
 padding-left: 5px;
 padding-bottom: 10px;
}

.popup__input {
 border: 1px solid var(--table-border);
 padding: 7px 11px;
 line-height: 1;
 border-radius: 10px;
 font-size: 1.05em;
 transition: 0.3s;

}

.popup__input:focus {
 border: 1px solid var(--green-default-hover);
}

.popup__button {
 background-color: var(--black-default);
 font-size: 1.1em;
 padding: 13px 20px;
 color: var(--white-default);
 margin: 10px 0 20px 20px;
 transition: 0.3s;
 border-radius: 5px;

}

.popup__button:hover {
 border-radius: 0;

 background-color: var(--black-default-hover);
}


/*#endregion ====== Popup Styling ======*/
